.AuthorInfo {
  padding: 1rem;
  margin: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
  background-color: #fafafa;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
}

.AuthorInfo .userImage {
  width: 25%;
  float: left;
  align-self: baseline;
  /* border: 1px solid red; */
}

.AuthorInfo .userInfo {
  width: 75%;
  float: left;
  padding: 15px;
  /* border: 1px solid red; */
}
.AuthorInfo .userDescription {
  padding: 15px;
  text-align: left;
  word-break: break-all;
  background-color: rgba(238, 238, 238, 0.918);
}
.userInfo .userInfoHeader {
  /* border: 1px solid red; */
  margin: 0.5rem;
}
.userInfo .userInfoHeader:after {
  clear: both;
  display: flex;
  align-items: center;
  content: '';
}

.userInfo .userInfoHeader .linkImage {
  float: right;
  width: 50px;
  margin: 0px;
  text-align: center;
  /* border: 1px solid red; */
}

.userInfo .userInfoHeader .userName {
  float: left;
  font-weight: bold;
  font-size: 25px;
  /* border: 1px solid red; */
}
