.AuthorInfo {
    padding: 1rem;
    margin : 2rem;
    background-color: #FAFAFA;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    overflow:hidden;
}

.userImage {
    width: 25%;
    float: left;
    align-self: baseline;
    /* border: 1px solid red; */
}

.userInfo {
    width: 75%;
    float: left;
    padding: 15px;
    /* border: 1px solid red; */
}
.userDescription {
    padding: 15px;
    text-align: left;
    word-break:break-all;
    background-color: rgba(238, 238, 238, 0.918);
}

.h-container:after{ 
    clear: both; 
    padding: 1px;
    display: flex;
    align-items: center; 
    content: '' 
}
.h-container .linkImage {
	float: right;
	width: 50px; 
    /* margin-top: 1rem; */
	text-align: center;
    /* border: 1px solid red; */
}
.h-container .userName {
	float: left;
    font-weight : bold;
    /* margin-top: 2%; */
    font-size: 30px;
    /* border: 1px solid red; */
	/* width: 50px; */
	/* border-right: none; */
}

div{
    /* border: 1px solid blue; */
}