.commentArea {
  padding: 1rem;
  margin: 2rem;
  background-color: #fafafa;
  overflow: hidden;
  border-radius: 5px;
}

hr {
  border-top: 0px solid #bbb;
  border-left: 0px solid #bbb;
}

/* form {
     border: 1px solid blue; 
} */
/* div {
    border: 1px solid red;
} */

.commentArea .inputArea {
  /* margin: 0.5rem; */
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 100px;
  display: flex;
}

.commentArea textarea {
  width: 80%;
  height: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  resize: none;
}

.inputArea .btnSubmit {
  width: 20%;
  margin-left: 2px;
  color: white;
  border: 1px solid #ccc;
  background-color: #ccc;
  cursor: pointer;
}

.commentArea .inputArea .btnSubmit:hover {
  color: white;
  background-color: #2cc9a9;
  transition-duration: 0.4s;
}

.Comment {
  margin: 0.5rem;
  margin-right: 0;
  padding: 1rem 2rem 2rem 2rem;
  padding-bottom: 8px;
  background-color: #fafafa;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
  border-radius: 5px;
}

.Comment .contents {
  padding: 15px;
  margin-bottom: 5px;
  text-align: left;
  word-break: break-all;
  background-color: rgba(238, 238, 238, 0.918);
  border-radius: 5px;
}

.Comment .authorInfo:after {
  clear: both;
  padding: 1px;
  display: flex;
  align-items: center;
  content: '';
}

.Comment .authorInfo .authorName {
  float: left;
  font-weight: bold;
  font-size: 15px;
}

.Comment .iconContainer {
  float: right;
  transition: 0.5s;
}

.Comment .iconContainer:hover {
  background-color: tomato;
  cursor: pointer;
}
