aside{
    border: 1px solid black;
    position: sticky;
    top: 0;
}

.btnTop{
    width: 50%;
    background-color:transparent;
    color: black;
}

.btnBottom{
    width: 50%;
    background-color:transparent;
    color: black;
}

.articleDetail{
    display: flex;
    flex-direction: row;
}

.articleDetailLeft{
    width:93%;
}

.articleDetailRight{
    width:7%;
}
