form {
  /* border: 1px solid blue;  */
  width: 100%;
}

/* div {
 border: 1px solid red;
}  */

/* section {
  border: 1px solid green;
}

header {
  border: 1px solid yellowgreen;
 } */

/* h2 {
  border: 1px solid red;
 }
   */

hr {
  border-top: 0px solid #bbb;
  border-left: 0px solid #bbb;
}

.vertical {
  border-left: 1px solid #bbb;
  /* height: 200px; */
}
