Button.grade:nth-child(2n + 1) {
  background-color: whitesmoke;
}

Button.grade:nth-child(2n) {
  background-color: #cdf0ea;
}

Button.subject:nth-child(2n + 1) {
  background-color: #a2dbf9;
}

Button.subject:nth-child(2n) {
  background-color: white;
}

Button.professor:nth-child(2n + 1) {
  background-color: #e9f6ef;
}

Button.professor:nth-child(2n) {
  background-color: #c9e4c5;
}

.btn-group {
  border: 1px solid white;
}

header.my-lecture-header {
  display: flex;
  justify-content: space-between;
}

section.selected-my-lectures {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header.selected-my-lectures-title {
  margin: 0.1rem 0 1.5rem 0;
  font-weight: bold;
  font-size: 16px;
}
