@import url('./common.css');

.card-area {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--my-color);
  border: 1px solid rgba(166, 188, 206, 0.473);
}

.option-area {
  display: flex;
  flex-direction: row;
}

.option-area .option {
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  border-width: 2px 2px;
  border-radius: 40px;
  background-color: var(--options-color);
  color: white;
  font-size: 0.9rem;
  min-width: fit-content;
}

.title {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0.7rem 0rem 0.2rem 0rem;
  margin-left: 3px;
}

.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: gray;
  font-size: 0.6rem;
  margin: 0rem 0rem 0.2rem 0rem;
  margin-left: 5px;
}

.author-time-info {
  display: flex;
  margin-left: 0px;
  /* justify-content: flex-start; */
}

time {
  margin-left: 5px;
}

.content {
  font-size: 1rem;
  margin-left: 5px;
}
.link {
  cursor: pointer;
  margin-left: 5px;
}

.article-feed-area {
  margin:0px;
}
