@import url('./common.css');

/*--- Profile User ---*/
.info {
  margin-bottom: 10px;
}
.icon {
  margin-right: 5px;
}
.nick-name {
  font-size: 30px;
}
.id {
  font-size: 18px;
  color: light-gray;
}
.description {
  font-size: 15px;
  line-height: 1.5em;
  padding: 20px;
  background-color: var(--my-color);
  border-radius: 8px;
}

.userinfo {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.tab {
  margin-left: 3%;
  margin-right: 3%;
}
