@import url('./common.css');

/*--- Profile User ---*/
.info {
  margin-bottom: 10px;
}
.icon {
  margin-right: 5px;
}
.nick-name {
  font-size: 30px;
  margin-bottom: 10px;
}
.id {
  font-size: 18px;
  color: light-gray;
}
.description {
  font-size: 15px;
  line-height: 1.5em;
  padding: 20px;
  background-color: var(--my-color);
  border-radius: 8px;
}

.userinfo {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.tab {
  margin-left: 3%;
  margin-right: 3%;
}

.profile-edit-input-nickname {
  font-size: 30px;
  border: none;
  background-color: var(--my-color);
}

.profile-edit-input,
.profile-edit-input {
  border: none;
  background-color: var(--my-color);
  width: 80%;
}

.profile-edit-image {
  margin: 7px 0px;
}

.profile-edit-option {
  margin-bottom: 10px;
}
