/*=============== Comment Area ==================*/

.comment-feed-area {
  margin: 0px;
}

.profile-comment-area {
  display: flex;
  flex-direction: column;
  background-color: var(--my-color);
  margin: 10px 0px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(166, 188, 206, 0.473);
}

.comment-time-info {
  display: flex;
  margin-left: 5px;
  color: gray;
  font-size: 0.8rem;
  /* margin: 0rem 0rem 0.2rem 0rem; */
  margin-left: 5px;
}

.comment-content {
  font-size: 0.8rem;
  margin-left: 5px;
}

.article-title-area {
  display: flex;
  flex-direction: row;
  margin-left: 9px;
  color: blueviolet;
  cursor: pointer;
}

.title-link {
  font-size: 0.8rem;
}

.title-icon {
  margin-top: 5px;
}
