.main {
  display: flex;
  flex-direction: row;
  width: 200px;
}

.side-bar {
  height: 100%;
  width: 200px;
}

.sidebar {
  display: block;
  height: 100%;
  border: none;
}

.menu-btn {
  background-color: lightgrey;
  border: none;
  font-size: 25px;
}

.subNav {
  background-color: gray;
  display: flex;
  justify-content: center;
  position: fixed;
  top: -100%;
  transition: transform 0.2s linear;
  width: 200px;
}

.subNav-active {
  width: 200px;
}

.big-category-btn {
  width: 200px;
  height: 30px;
  padding: 6px;
  margin: 2px 0;
  background-color: rgba(27, 27, 27, 0.616);
  color: white;
  cursor: pointer;
  border-radius: 7px;
  transition: 800ms ease all;
  border: none;
  text-align: left;
}

.big-category-btn:hover {
  background: black;
  color: white;
  cursor: pointer;
}

.small-category-btn {
  font-weight: 600;
  background: lightgrey;
  padding-left: 1rem;
  height: 40px;
  margin: 0.2rem;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  transition: 800ms ease all;
  color: black;
  font-size: 12px;
}

.small-category-btn:hover {
  background: lightslategray;
  color: black;
  cursor: pointer;
}

.favorite-add-btn {
  background: crimson;
  font-weight: 600;
  padding-left: 0.5rem;
  height: 40px;
  margin: 0.2rem;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  transition: 800ms ease all;
  color: white;
  font-size: 12px;
}

.favorite-add-btn :hover {
  background: black;
}
