.error-message {
  color: crimson;
  text-align: left;
  margin: 1% 0 1% 2%;
  /* border: 1px solid black; */
}

.id-default {
  color: lightgray;
}

.pwd-default {
  color: lightgray;
}

.id-on {
  color: teal;
}

.input-field {
  position: relative;
  padding: 0px;
  width: 100%;
}
