.error-message {
  color: crimson;
  text-align: left;
  margin: 1% 0 1% 2%;
}

.default {
  color: lightgray;
}

.on {
  color: teal;
}

.input-field {
  position: relative;
  padding: 0px;
  width: 100%;
}
