.tgl-btn {
  display: flex;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.1rem;
  background-color: transparent;
  border: none;
  margin: 0px;
}

.tgl-btn:hover {
  cursor: pointer;
}

.tgl-btn-icon {
  margin-right: 5px;
  margin-top: 0px;
  padding-bottom: 0px;
}

.btn-area {
  display: flex;
  align-items: flex-start;
}
