.main {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.side-bar {
  height: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 800ms ease all;
  z-index: 10;
}

.side-bar.active {
  height: 100%;
  left: 0;
  transition: 800ms ease all;
}

.content {
  width: 88%;
  border: none;
}

.tgl-btn {
  display: flex;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.1rem;
  background-color: transparent;
  border: none;
}

.tgl-btn-icon {
  margin-right: 5px;
}

.btn-area {
  display: flex;
  align-items: flex-start;
}
